@font-face {
    font-family: 'OSP';
    src: url("../fonts/osp-din-webfont.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outage';
    src: url("../fonts/outage-webfont.eot") format('embedded-opentype'),
    url("../fonts/outage-webfont.woff") format('woff'),
    url("../fonts/outage-webfont.ttf") format('truetype'),
    url("../fonts/outage-webfont.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fonts for cards */
@font-face {
    font-family: 'festus';
    src: url("../fonts/cards/festus.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'handyboldcyr';
    src: url("../fonts/cards/handyboldcyr.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marckscript';
    src: url("../fonts/cards/marckscript.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --green: #87cca0;
    --light: #ffffff;
    --darkGreen: #307f4c;
    --skyBlue: #4fa2d2;
    --turquoise: #27b9b5;
    --orange: #af3e1e;
    --gray: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--light);
    -webkit-text-decoration: underline dashed;
            text-decoration: underline dashed;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "OSP", "Arial", sans-serif;
    color: var(--light);
    font-size: 20px;
}

.container {
    padding: 0 20px;
}

.full-screen-height {
    min-height: 100vh;
}

.header {
    padding-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("../img/bg_white.png") var(--green) 50% 50%;
}

.header__navigation {
    top: 0;
    background: var(--green);
    position: fixed;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2px;
    z-index: 1;
}

.header__navigation::after {
    content: "";
    background: url("../img/header_line_sample.png") repeat-x 50% 50% var(--green);
    background-size: contain;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.header__link {
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
}

.intro {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: url("../img/intro_box.png") 50% 50% no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.intro__title {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    font-family: 'Outage', sans-serif;
}

.intro__text {
    text-align: center;
    margin-bottom: 25px;
}

.intro__button {
    bottom: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--darkGreen);
    color: var(--light);
    text-decoration: none;
    border-radius: 25px;
    margin: auto auto 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    padding: 0 40px;
}

.selection {
    background: var(--skyBlue);
}

.selection__title {
    padding-top: 70px;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.selection__cards {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 215px);
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-bottom: 15px;
}

.selection__image {
    width: 185px;
    height: auto;
    display: block;
    padding: 15px;
}

.selection__image:hover {
    background: url("../img/borderCard_hover.png") 50% 50% no-repeat;
}

.message {
    background: var(--turquoise);
    padding-bottom: 25px;
}

.message__title {
    padding-top: 70px;
    letter-spacing: 0.05em;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.message__fonts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
}

.message__link {
    color: var(--light);
    text-decoration: none;
    font-size: 30px;
    width: 172px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.message__link:hover {
    background: url("../img/borderFont_hover.png") 50% 50% no-repeat;
}

.message__link--festus {
    font-family: 'festus', 'Arial', sans-serif;
}

.message__link--marckscript {
    font-family: 'marckscript', 'Arial', sans-serif;
}

.message__link--handyboldcyr {
    font-family: 'handyboldcyr', 'Arial', sans-serif;
}

.message__button {
    background: var(--orange);
    color: var(--light);
    text-decoration: none;
    bottom: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0 40px;
}

.footer {
    background: var(--gray);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__title {
    font-weight: normal;
    letter-spacing: 0.05em;
    padding-top: 50px;
    margin-bottom: 20px;
}

.footer__link {
    background: url("../img/total.png") no-repeat;
    width: 28px;
    height: 28px;
    display: block;
}

.footer__link--twitter {
    background-position: 0 -90px;
}

.footer__link--facebook {
    background-position: -28px -90px;
}

.footer__feedback {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    margin-bottom: 50px;
}

.footer__text {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    letter-spacing: 0.05em;
}

.footer__bottom-content {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer__graphic-link-image {
    display: block;
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}

.modal {
    padding-top: 30px;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.in {
    opacity: 0.5;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000000;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.kudo_popup {
    background-color: #FF7881;
    background-size: 100% 100%;
    -o-border-image: url('../img/border.png') 30 40 39 39 round round;
       border-image: url('../img/border.png') 30 40 39 39 round round;
    border-style: solid;
    border-width: 30px 40px 39px 39px;
    color: #FFFFFF;
    font-family: 'OSP', 'Arial', sans-serif;
    font-size: 1.7em;
}

.modal-open {
    overflow: hidden;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 768px) {
    body {
        font-size: 25px;
    }

    .container {
        padding: 0 calc((100% - 720px) / 2);
    }

    .header__navigation {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 60px;
        letter-spacing: 0.05em;
    }

    .header__navigation::after {
        background-color: transparent;
        height: 12px;
        bottom: -6px;
    }

    .intro {
        background-size: 720px;
        background-position: 50% 70%;
    }

    .intro__title {
        padding-top: 50px;
        font-size: 75px;
    }

    .selection__title {
        padding-top: 100px;
        margin-bottom: 25px;
    }

    .message__title {
        padding-top: 100px;
        margin-bottom: 25px;
    }

    .message__fonts {
        margin-bottom: 25px;
    }

    .footer__title {
        text-align: center;
        margin-bottom: 50px;
    }

    .footer__feedback {
        grid-auto-flow: column;
        -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__bottom-content {
        grid-auto-flow: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end;
    }

    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}
