@import "fonts";

* {
  margin: 0;
  padding: 0;
}

$dark: #27200E;
$pink: #FA5C7F;
$green: #90D927;
$purple: #758CFF;
$orange: #FF4A00;
$swamp: #f0ece0;

body {
  font-family: "Helvetica Neue", sans-serif;
  color: $dark;
  font-size: 16px;
}

.container {
  padding: 0 16px;
}

.header {
  position: absolute;
  left: 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.feature {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 60px;
  overflow-x: hidden;

  &--saving {
    background: url("../img/mobile-saving-bg.jpg") no-repeat 100% 100% #EEF9FB;
    background-size: contain;
    justify-content: center;
    padding-bottom: 10px;
  }

  &--up-to-date {
    background: url("../img/up-to-date-bg.svg") no-repeat #e6f5dc;
  }

  &--email {
    background: url("../img/email-bg.svg") no-repeat #e1e8f7;
  }

  &--zapier {
    background: url("../img/zapier.svg") no-repeat #ffe6da;
  }

  &--quote {
    background: $swamp;
    padding-bottom: 0;
    justify-content: center;
    padding-top: 20px;
  }

  &--quote-light {
    background: linear-gradient(360deg, #EBEFF1 67.44%, rgba(235, 239, 241, 0) 100%);
  }

  &__highlighted--pink {
    color: $pink;
  }

  &__highlighted--green {
    color: $green;
  }

  &__highlighted--purple {
    color: $purple;
  }

  &__highlighted--orange {
    color: $orange;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  &__text {
    line-height: 142%;
    margin-bottom: 24px;

    &--abbreviated {
      width: 73%;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -100px;
        bottom: 20px;
        background: url("../img/clock.svg") no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
      }
    }
  }

  &__link {
    display: block;
    width: fit-content;
    padding: 16px 32px;
    border: 2px solid $dark;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: $dark;
  }
}

.quote {
  &__text {
    font-style: italic;
    font-weight: 300;
    font-size: 28px;
    line-height: 142%;
    padding-left: 28px;
    margin-bottom: 24px;
    position: relative;
    z-index: 1;

    &--light {
      opacity: 0.9;
    }

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 70px;
      background: url("../img/quotes.svg") no-repeat 50% 50%;
      left: -8px;
      top: -35px;
      z-index: -1;
    }

    &--light::before {
      background-image: url("../img/quotes-light.svg");
    }
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__image-wrapper {
    flex-basis: 100px;
    flex-shrink: 0;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-right: 5px;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #ccc095;
    }

    &--light::before {
      background: white;
    }
  }

  &__image {
    z-index: 1;
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &__info {
    line-height: 19px;
  }
}

.brands {
  padding-bottom: 70px;

  &__title {
    margin: 70px 0 24px;
    text-align: center;
  }

  &__list-wrapper {
    overflow-x: auto;
  }

  &__list {
    display: inline-block;
    height: 76px;
  }
}

.more {
  background: linear-gradient(360deg, #D4DDEB 11.78%, rgba(212, 221, 235, 0) 94.22%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 35px;
  }

  &__image {
    margin-bottom: 12px;
  }

  &__item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #394575;
    margin-bottom: 8px;
  }
}

.stats {
  &__list {
    padding: 68px 0 30px;
  }

  &__item {
    padding-left: 115px;
    font-size: 20px;
    line-height: 146%;
    color: #394575;
    list-style: none;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 90px;
      height: 75px;
      background: no-repeat 50% 0;
    }

    &--events::before {
      background-image: url("../img/stats-events.svg");
    }

    &--improvement::before {
      background-image: url("../img/stats-improvement.svg");
    }

    &--attends::before {
      background-image: url("../img/stats-attends.svg");
    }
  }

  &__big-text {
    font-size: 48px;
    line-height: 57px;
    display: block;
  }
}

.footer {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
  background: #FA5C7F;

  &__text {
    font-size: 32px;
    line-height: 142%;
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  &__link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $dark;
    text-decoration: none;
    padding: 21px 77px;
    background: white;
    border-radius: 6px;
    margin: 0 auto;
    width: fit-content;
  }
}
